.title {
	font-weight: bold;
	margin-bottom: 20px;
	text-align: left;
	animation: fadeIn 1s ease-in-out;
}

.publications-table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
}

.publication-row {
	display: flex;
	align-items: flex-start;
	border-bottom: 1px solid #ddd;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: #f9f9f9;
	}

	@media (min-width: 768px) {
		transition: background-color 0.3s ease;
	}
}

.publication-id {
	width: 50px;
	padding-top: 10px;
	text-align: center;
	font-style: italic;
}

.publication-details {
	padding: 10px;

	strong {
		font-weight: bold;
	}

	em {
		font-style: italic;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
