---
import "../styles/Loader.scss";
---

<div class="loader-container" id="loader">
  <div class="loader"></div>
</div>

<script is:inline>
  window.addEventListener("load", () => {
    const loader = document.getElementById("loader");
    const content = document.getElementById("content");

    if (loader) {
      setTimeout(() => {
        loader.remove();
        content?.classList.remove("hidden");
      }, 1500);
    }
  });
</script>
