.link-grp {
	text-align: left;
}

.arrow-link {
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	color: var(--grey-link);
	gap: 0.5rem;
	position: relative;
	margin-right: 20px;
	transition: color 0.3s ease;
}

.arrow-link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0.1rem;
	width: 100%;
	height: 1px;
	background-color: var(--grey-link);
	transition: background-color 0.3s ease;
}

.arrow-link img {
	width: 15px;
	height: 15px;
}

.arrow-link:hover {
	color: var(--dark-grey-link);
}

.arrow-link:hover::after {
  background-color: var(--dark-grey-link); /* Change underline color */
}

.arrow-link:hover img {
  filter: grayscale(100%) brightness(0.7); /* Make image darker */
}

.column {
	flex-direction: row;
}

.container {
	display: flex;
  width: 90%;
  max-width: 1100px;
}

.row {
	flex-direction: column;
}

.green, .blue, .grey, .red {
	box-shadow: inset 0 0 0 2px var(--dark-font-clr);
	font-weight: 500;
	display: inline-flex;
	align-items: center;
	font-size: 13px;
	position: relative;
	border-radius: 20px;
	padding: 4px 12px;
	margin-right: 10px;
}

.green{
	color: var(--light-font-clr);
	background-color: var(--span-green-clr);
}

.blue {
	color: var(--light-font-clr);
	background-color: var(--span-blue-clr);
}

.grey{
	color: var(--dark-grey-font-clr);
	background-color: var(--span-green-clr);
}

.red {
	background-color: var(--span-green-clr);
	color: var(--dark-grey-font-clr);

}

.green::before, .blue::before, .grey::before, .red::before {
	content: '';
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-right: 8px;
}

.green::before  {
  background-color: var(--green-circle-clr);
}

.blue::before {
  background-color: var(--blue-circle-clr);
}

.grey::before {
  background-color: var(--grey-circle-clr);
}

.red::before {
  background-color: var(--red-circle-clr);
}

@media screen and (max-width: 960px) {
	.container {
		flex-direction: column;
	}
}
