@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
	--primary-clr: #26a8f9;

	--body-bg-clr: rgb(251, 251, 251);
	--body-dark-bg-clr: rgb(0, 0, 0);

	--header-bg: rgba(0, 0, 0, 0.1);
	--header-white-bg: rgba(250, 250, 250, 0.575);

	--dark-btn-clr: rgba(0, 0, 0, 0.918);
	--light-btn-clr: rgba(255, 255, 255, 0.918);

	--dark-font-clr: #000;
	--light-font-clr: #fff;
	--dark-grey-font-clr: #3a3a3a;

	--light-grey-font-clr: #ccc;
	--grey-bg-clr: #f0f0f0;

	--green-circle-clr: #0a8836;
	--blue-circle-clr: #05598a;
	--red-circle-clr: #d82a2a;
	--grey-circle-clr: #dcdcdc7b;

	--grey-link: #5f5f5f;
  --dark-grey-link: #505050;

	--transparent-btn: rgba(0, 0, 0, 0.1);
	--border-clr: rgb(0, 0, 0);

	--span-green-clr: #05983dc1;
	--span-blue-clr: #03739cc8;
	--span-red-clr: #c42e2e;
	--span-grey-clr: #f9f9f96e;
}

body {
	font-size: 1.2rem;
	font-family: 'Space Mono', 'Poppins', sans-serif;
	box-sizing: border-box;
	margin-left: 20px;
	margin-right: 20px;
	text-align: justify;
	background-color: var(--body-bg-clr);
	color: var(--dark-font-clr);
}

h1 {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	z-index: -1;
	/* position: absolute; */
	opacity: 0.3;
}

section {
	/* font-size: max(calc(0.5vw - 1em), 1rem) ; */
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid var(--light-grey-font-clr);
	border-radius: 50px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
	margin: 0 0 5% 5%;
	height: auto;
	width: 90%;
	animation: glassEffect 1.5s ease-in-out infinite;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
	0% {
		transform: translateY(-20px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}


@keyframes glassEffect {
	0% {
		background-color: rgba(255, 255, 255, 0.1);
	}
	50% {
		background-color: rgba(255, 255, 255, 0.2);
	}
	100% {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

p a {
	display: inline-block;
}

a {
	color: var(--primary-clr);
	margin-right: 10px;
}

a:hover {
	color: var(--dark-grey-font-clr);
}

h1 {
	margin: 50px 0;
	font-size: 5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}


@media screen and (max-width: 960px) {

	section {
		margin: 0 5% 5% 5%;
	}

	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 2rem;
	}

	p {
		font-size: 1.2rem;
	}

	a {
		font-size: 1.2rem;
	}

	ul {
		font-size: 1.2rem;
	}

	li {
		font-size: 1.2rem;
	}

	span {
		font-size: 1.2rem;
	}

	footer {
		font-size: 1.2rem;
	}

	nav {
		font-size: 1.2rem;
	}

	nav a {
		font-size: 1.2rem;
	}

	nav a:hover {
		font-size: 1.2rem;
	}

	nav a:active {
		font-size: 1.2rem;
	}

	nav a:visited {
		font-size: 1.2rem;
	}

	nav a:focus {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 768px) {
	body {
		font-size: 1rem;
	}

	section {
		margin: 0 5% 5% 5%;
	}

	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	p {
		font-size: 1rem;
	}

	a {
		font-size: 1rem;
	}

	ul {
		font-size: 1rem;
	}

	li {
		font-size: 1rem;
	}

	span {
		font-size: 1rem;
	}

	footer {
		font-size: 1rem;
	}

	nav {
		font-size: 1rem;
	}

	nav a {
		font-size: 1rem;
	}

	nav a:hover {
		font-size: 1rem;
	}

	nav a:active {
		font-size: 1rem;
	}

	nav a:visited {
		font-size: 1rem;
	}

	nav a:focus {
		font-size: 1rem;
	}

}

@media  screen and (max-width: 480px) {
	body {
		font-size: 0.8rem;
	}

	section {
		margin: 0 5% 5% 5%;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	p {
		font-size: 0.8rem;
	}

	a {
		font-size: 0.8rem;
	}

	ul {
		font-size: 0.8rem;
	}

	li {
		font-size: 0.8rem;
	}

	span {
		font-size: 0.8rem;
	}

	footer {
		font-size: 0.8rem;
	}

	nav {
		font-size: 0.8rem;
	}

	nav a {
		font-size: 0.8rem;
	}

	nav a:hover {
		font-size: 0.8rem;
	}

	nav a:active {
		font-size: 0.8rem;
	}

	nav a:visited {
		font-size: 0.8rem;
	}

	nav a:focus {
		font-size: 0.8rem;
	}
}
